<div class="pull-right">
   <div class="btn-group dropdown">
      <button data-toggle="dropdown" class="btn btn-link">
         <em class="fa fa-ellipsis-v fa-lg"></em>
      </button>
      <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInLeft">
         <li>
            <a href="">
               <em class="fa fa-fw fa-plus mr"></em>
               <span>New contact</span>
            </a>
         </li>
         <li>
            <a href="">
               <em class="fa fa-fw fa-mail-forward mr"></em>
               <span>Import contact</span>
            </a>
         </li>
         <li>
            <a href="">
               <em class="fa fa-fw fa-mail-reply mr"></em>
               <span>Export contacts</span>
            </a>
         </li>
      </ul>
   </div>
</div>
<h3>Contacts</h3>
<div class="row">
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a href="#" class="pull-right text-muted">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img src="<%= image_path('angle/user/02.jpg') %>" alt="Contact" class="center-block img-responsive img-circle thumb64" />
            <h4>Audrey Hunt</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a href="#" class="btn btn-xs btn-primary">Send message</a>
            </div>
            <div class="pull-right"><a href="#" class="btn btn-xs btn-default">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a href="#" class="pull-right text-muted">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img src="<%= image_path('angle/user/03.jpg') %>" alt="Contact" class="center-block img-responsive img-circle thumb64" />
            <h4>Leonard Price</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a href="#" class="btn btn-xs btn-primary">Send message</a>
            </div>
            <div class="pull-right"><a href="#" class="btn btn-xs btn-default">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a href="#" class="pull-right text-muted">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img src="<%= image_path('angle/user/04.jpg') %>" alt="Contact" class="center-block img-responsive img-circle thumb64" />
            <h4>Jamie Stephens</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a href="#" class="btn btn-xs btn-primary">Send message</a>
            </div>
            <div class="pull-right"><a href="#" class="btn btn-xs btn-default">View</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a href="#" class="pull-right text-muted">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img src="<%= image_path('angle/user/05.jpg') %>" alt="Contact" class="center-block img-responsive img-circle thumb64" />
            <h4>Tara Nelson</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a href="#" class="btn btn-xs btn-primary">Send message</a>
            </div>
            <div class="pull-right"><a href="#" class="btn btn-xs btn-default">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a href="#" class="pull-right text-muted">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img src="<%= image_path('angle/user/06.jpg') %>" alt="Contact" class="center-block img-responsive img-circle thumb64" />
            <h4>Constance Cook</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a href="#" class="btn btn-xs btn-primary mr-sm">Send message</a><a href="#" class="btn btn-xs btn-primary">Call</a>
            </div>
            <div class="pull-right"><a href="#" class="btn btn-xs btn-default">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a href="#" class="pull-right text-muted">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img src="<%= image_path('angle/user/07.jpg') %>" alt="Contact" class="center-block img-responsive img-circle thumb64" />
            <h4>Laura Palmr</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a href="#" class="btn btn-xs btn-primary">Send message</a>
            </div>
            <div class="pull-right"><a href="#" class="btn btn-xs btn-default">View</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a href="#" class="pull-right text-muted">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img src="<%= image_path('angle/user/08.jpg') %>" alt="Contact" class="center-block img-responsive img-circle thumb64" />
            <h4>Audrey Hunt</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a href="#" class="btn btn-xs btn-primary">Call</a>
            </div>
            <div class="pull-right"><a href="#" class="btn btn-xs btn-default">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a href="#" class="pull-right text-muted">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img src="<%= image_path('angle/user/09.jpg') %>" alt="Contact" class="center-block img-responsive img-circle thumb64" />
            <h4>Leslie Mckinney</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a href="#" class="btn btn-xs btn-primary">Send message</a>
            </div>
            <div class="pull-right"><a href="#" class="btn btn-xs btn-default">View</a>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a href="#" class="pull-right text-muted">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            <img src="<%= image_path('angle/user/04.jpg') %>" alt="Contact" class="center-block img-responsive img-circle thumb64" />
            <h4>Brian Mills</h4>
            <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left"><a href="#" class="btn btn-xs btn-primary">Send message</a>
            </div>
            <div class="pull-right"><a href="#" class="btn btn-xs btn-default">View</a>
            </div>
         </div>
      </div>
   </div>
</div>
