<div class="pull-right">
   <button type="button" class="btn btn-default btn-sm">Create project</button>
</div>
<h3>Projects</h3>
<div class="row">
   <div class="col-lg-4 col-md-6">
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label label-info">started</div>
            </div>
            <h4 class="m0">Project #1</h4>
            <small class="text-muted">Sed amet lectus id.</small>
         </div>
         <div class="panel-body">
            <div class="table-grid table-grid-align-middle">
               <div class="col">
                  <div class="visible-xs visible-sm text-bold text-muted text-right">22%</div>
                  <div data-toggle="tooltip" data-title="Health">
                     <div class="progress progress-xs m0">
                        <div style="width:22%" class="progress-bar progress-bar-warning">22%</div>
                     </div>
                  </div>
               </div>
               <div class="col wd-xxs text-right hidden-xs hidden-sm">
                  <div class="text-bold text-muted">22%</div>
               </div>
            </div>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>01/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <strong>+5</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Metrics</strong>
                  </td>
                  <td>
                     <div data-sparkline="" values="20,80" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#23b7e5"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#27c24c"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="90,10" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#ff902b"]' class="sparkline inline"></div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <button type="button" class="btn btn-default">Manage project</button>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label label-info">started</div>
            </div>
            <h4 class="m0">Project #2</h4>
            <small class="text-muted">Sed amet lectus id.</small>
         </div>
         <div class="panel-body">
            <div class="table-grid table-grid-align-middle">
               <div class="col">
                  <div class="visible-xs visible-sm text-bold text-muted text-right">80%</div>
                  <div data-toggle="tooltip" data-title="Health">
                     <div class="progress progress-xs m0">
                        <div style="width:80%" class="progress-bar progress-bar-success">80%</div>
                     </div>
                  </div>
               </div>
               <div class="col wd-xxs text-right hidden-xs hidden-sm">
                  <div class="text-bold text-muted">80%</div>
               </div>
            </div>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>02/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <strong>+6</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Metrics</strong>
                  </td>
                  <td>
                     <div data-sparkline="" values="20,80" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#23b7e5"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#27c24c"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="90,10" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#ff902b"]' class="sparkline inline"></div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <button type="button" class="btn btn-default">Manage project</button>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label label-info">started</div>
            </div>
            <h4 class="m0">Project #3</h4>
            <small class="text-muted">Sed amet lectus id.</small>
         </div>
         <div class="panel-body">
            <div class="table-grid table-grid-align-middle">
               <div class="col">
                  <div class="visible-xs visible-sm text-bold text-muted text-right">50%</div>
                  <div data-toggle="tooltip" data-title="Health">
                     <div class="progress progress-xs m0">
                        <div style="width:50%" class="progress-bar progress-bar-info">50%</div>
                     </div>
                  </div>
               </div>
               <div class="col wd-xxs text-right hidden-xs hidden-sm">
                  <div class="text-bold text-muted">50%</div>
               </div>
            </div>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>03/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <strong>+7</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Metrics</strong>
                  </td>
                  <td>
                     <div data-sparkline="" values="20,80" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#23b7e5"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#27c24c"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="90,10" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#ff902b"]' class="sparkline inline"></div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <button type="button" class="btn btn-default">Manage project</button>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label label-warning">paused</div>
            </div>
            <h4 class="m0">Project #4</h4>
            <small class="text-muted">Sed amet lectus id.</small>
         </div>
         <div class="panel-body">
            <div class="table-grid table-grid-align-middle">
               <div class="col">
                  <div class="visible-xs visible-sm text-bold text-muted text-right">22%</div>
                  <div data-toggle="tooltip" data-title="Health">
                     <div class="progress progress-xs m0">
                        <div style="width:22%" class="progress-bar progress-bar-warning">22%</div>
                     </div>
                  </div>
               </div>
               <div class="col wd-xxs text-right hidden-xs hidden-sm">
                  <div class="text-bold text-muted">22%</div>
               </div>
            </div>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>04/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <strong>+8</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Metrics</strong>
                  </td>
                  <td>
                     <div data-sparkline="" values="20,80" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#23b7e5"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#27c24c"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="90,10" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#ff902b"]' class="sparkline inline"></div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <button type="button" class="btn btn-default">Manage project</button>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label bg-gray">pending</div>
            </div>
            <h4 class="m0">Project #5</h4>
            <small class="text-muted">Sed amet lectus id.</small>
         </div>
         <div class="panel-body">
            <p class="m0 text-center">This project does not register progress.</p>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>05/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <strong>+9</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Metrics</strong>
                  </td>
                  <td>
                     <div data-sparkline="" values="20,80" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#23b7e5"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#27c24c"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="90,10" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#ff902b"]' class="sparkline inline"></div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <button type="button" class="btn btn-default">Manage project</button>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label label-success">completed</div>
            </div>
            <h4 class="m0">Project #6</h4>
            <small class="text-muted">Sed amet lectus id.</small>
         </div>
         <div class="panel-body">
            <div class="table-grid table-grid-align-middle">
               <div class="col">
                  <div class="visible-xs visible-sm text-bold text-muted text-right">100%</div>
                  <div data-toggle="tooltip" data-title="Health">
                     <div class="progress progress-xs m0">
                        <div style="width:100%" class="progress-bar progress-bar-success">100%</div>
                     </div>
                  </div>
               </div>
               <div class="col wd-xxs text-right hidden-xs hidden-sm">
                  <div class="text-bold text-muted">100%</div>
               </div>
            </div>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>06/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <strong>+10</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Metrics</strong>
                  </td>
                  <td>
                     <div data-sparkline="" values="20,80" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#23b7e5"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#27c24c"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="90,10" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#ff902b"]' class="sparkline inline"></div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <button type="button" class="btn btn-default">Manage project</button>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label bg-gray-dark">canceled</div>
            </div>
            <h4 class="m0">Project #7</h4>
            <small class="text-muted">Sed amet lectus id.</small>
         </div>
         <div class="panel-body">
            <div class="table-grid table-grid-align-middle">
               <div class="col">
                  <div class="visible-xs visible-sm text-bold text-muted text-right">30%</div>
                  <div data-toggle="tooltip" data-title="Health">
                     <div class="progress progress-xs m0">
                        <div style="width:30%" class="progress-bar progress-bar-warning">30%</div>
                     </div>
                  </div>
               </div>
               <div class="col wd-xxs text-right hidden-xs hidden-sm">
                  <div class="text-bold text-muted">30%</div>
               </div>
            </div>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>04/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <strong>+8</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Metrics</strong>
                  </td>
                  <td>
                     <div data-sparkline="" values="20,80" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#23b7e5"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#27c24c"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="90,10" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#ff902b"]' class="sparkline inline"></div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <button type="button" class="btn btn-default">Manage project</button>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label label-info">started</div>
            </div>
            <h4 class="m0">Project #8</h4>
            <small class="text-muted">Sed amet lectus id.</small>
         </div>
         <div class="panel-body">
            <div class="table-grid table-grid-align-middle">
               <div class="col">
                  <div class="visible-xs visible-sm text-bold text-muted text-right">10%</div>
                  <div data-toggle="tooltip" data-title="Health">
                     <div class="progress progress-xs m0">
                        <div style="width:10%" class="progress-bar progress-bar-danger">10%</div>
                     </div>
                  </div>
               </div>
               <div class="col wd-xxs text-right hidden-xs hidden-sm">
                  <div class="text-bold text-muted">10%</div>
               </div>
            </div>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>05/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <strong>+9</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Metrics</strong>
                  </td>
                  <td>
                     <div data-sparkline="" values="20,80" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#23b7e5"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#27c24c"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="90,10" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#ff902b"]' class="sparkline inline"></div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <button type="button" class="btn btn-default">Manage project</button>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label label-success">completed</div>
            </div>
            <h4 class="m0">Project #9</h4>
            <small class="text-muted">Sed amet lectus id.</small>
         </div>
         <div class="panel-body">
            <div class="table-grid table-grid-align-middle">
               <div class="col">
                  <div class="visible-xs visible-sm text-bold text-muted text-right">100%</div>
                  <div data-toggle="tooltip" data-title="Health">
                     <div class="progress progress-xs m0">
                        <div style="width:100%" class="progress-bar progress-bar-success">100%</div>
                     </div>
                  </div>
               </div>
               <div class="col wd-xxs text-right hidden-xs hidden-sm">
                  <div class="text-bold text-muted">100%</div>
               </div>
            </div>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>06/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                     <a href="#" class="inline">
                        <strong>+10</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb24" />
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Metrics</strong>
                  </td>
                  <td>
                     <div data-sparkline="" values="20,80" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#23b7e5"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#27c24c"]' class="sparkline inline mr"></div>
                     <div data-sparkline="" values="90,10" data-type="pie" data-height="24" data-slice-colors='["#edf1f2", "#ff902b"]' class="sparkline inline"></div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <button type="button" class="btn btn-default">Manage project</button>
         </div>
      </div>
   </div>
</div>
