<div class="pull-right">
   <em class="fa fa-warning fa-lg text-warning"></em>
</div>
<h3>Team viewer</h3>
<div class="row">
   <div class="col-lg-4 col-md-6">
      <!-- Team Panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label label-success">free</div>
            </div>
            <div class="panel-title">Team #1</div>
         </div>
         <div class="panel-body bt">
            <a href="#" data-toggle="tooltip" data-title="Team leader" class="inline">
               <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb48" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/07.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
         </div>
         <div class="panel-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m0">
                  <div style="width:50%" class="progress-bar progress-bar-info">50%</div>
               </div>
            </div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-4">
                  <p class="text-bold">BUDGET</p>
                  <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]" class="sparkline inline mr"></div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m0">26</div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div data-sparkline="" values="70,30" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]" class="sparkline inline mr"></div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-inline m0">
               <li>
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li>
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li>
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li>
                  <div class="badge bg-gray">git</div>
               </li>
               <li>
                  <div class="badge p-sm bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="panel-footer text-center"><a href="#" class="btn btn-default btn-oval">Manage Team</a>
         </div>
      </div>
      <!-- end Team Panel-->
   </div>
   <div class="col-lg-4 col-md-6">
      <!-- Team Panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label bg-gray">asigned</div>
            </div>
            <div class="panel-title">Team #2</div>
         </div>
         <div class="panel-body bt">
            <a href="#" data-toggle="tooltip" data-title="Team leader" class="inline">
               <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb48" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/09.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
         </div>
         <div class="panel-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m0">
                  <div style="width:90%" class="progress-bar progress-bar-info">90%</div>
               </div>
            </div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-4">
                  <p class="text-bold">BUDGET</p>
                  <div data-sparkline="" values="10,90" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#f05050&quot;]" class="sparkline inline mr"></div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m0">145</div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div data-sparkline="" values="40,60" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]" class="sparkline inline mr"></div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-inline m0">
               <li>
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li>
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li>
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li>
                  <div class="badge bg-gray">git</div>
               </li>
               <li>
                  <div class="badge p-sm bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="panel-footer text-center"><a href="#" class="btn btn-default btn-oval">Manage Team</a>
         </div>
      </div>
      <!-- end Team Panel-->
   </div>
   <div class="col-lg-4 col-md-6">
      <!-- Team Panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label label-success">free</div>
            </div>
            <div class="panel-title">Team #3</div>
         </div>
         <div class="panel-body bt">
            <a href="#" data-toggle="tooltip" data-title="Team leader" class="inline">
               <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb48" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/07.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
         </div>
         <div class="panel-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m0">
                  <div style="width:50%" class="progress-bar progress-bar-info">50%</div>
               </div>
            </div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-4">
                  <p class="text-bold">BUDGET</p>
                  <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]" class="sparkline inline mr"></div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m0">98</div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div data-sparkline="" values="40,60" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]" class="sparkline inline mr"></div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-inline m0">
               <li>
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li>
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li>
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li>
                  <div class="badge bg-gray">git</div>
               </li>
               <li>
                  <div class="badge p-sm bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="panel-footer text-center"><a href="#" class="btn btn-default btn-oval">Manage Team</a>
         </div>
      </div>
      <!-- end Team Panel-->
   </div>
   <div class="col-lg-4 col-md-6">
      <!-- Team Panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label bg-gray">asigned</div>
            </div>
            <div class="panel-title">Team #4</div>
         </div>
         <div class="panel-body bt">
            <a href="#" data-toggle="tooltip" data-title="Team leader" class="inline">
               <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb48" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/07.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/08.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/09.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
         </div>
         <div class="panel-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m0">
                  <div style="width:25%" class="progress-bar progress-bar-info">25%</div>
               </div>
            </div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-4">
                  <p class="text-bold">BUDGET</p>
                  <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]" class="sparkline inline mr"></div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m0">145</div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div data-sparkline="" values="40,60" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]" class="sparkline inline mr"></div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-inline m0">
               <li>
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li>
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li>
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li>
                  <div class="badge bg-gray">git</div>
               </li>
               <li>
                  <div class="badge p-sm bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="panel-footer text-center"><a href="#" class="btn btn-default btn-oval">Manage Team</a>
         </div>
      </div>
      <!-- end Team Panel-->
   </div>
   <div class="col-lg-4 col-md-6">
      <!-- Team Panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label bg-gray">asigned</div>
            </div>
            <div class="panel-title">Team #5</div>
         </div>
         <div class="panel-body bt">
            <a href="#" data-toggle="tooltip" data-title="Team leader" class="inline">
               <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb48" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/07.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/08.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/09.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
         </div>
         <div class="panel-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m0">
                  <div style="width:50%" class="progress-bar progress-bar-info">50%</div>
               </div>
            </div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-4">
                  <p class="text-bold">BUDGET</p>
                  <div data-sparkline="" values="60,40" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]" class="sparkline inline mr"></div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m0">500</div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div data-sparkline="" values="40,60" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]" class="sparkline inline mr"></div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-inline m0">
               <li>
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li>
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li>
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li>
                  <div class="badge bg-gray">git</div>
               </li>
               <li>
                  <div class="badge p-sm bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="panel-footer text-center"><a href="#" class="btn btn-default btn-oval">Manage Team</a>
         </div>
      </div>
      <!-- end Team Panel-->
   </div>
   <div class="col-lg-4 col-md-6">
      <!-- Team Panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="pull-right">
               <div class="label label-success">free</div>
            </div>
            <div class="panel-title">Team #6</div>
         </div>
         <div class="panel-body bt">
            <a href="#" data-toggle="tooltip" data-title="Team leader" class="inline">
               <img src="<%= image_path('angle/user/03.jpg') %>" alt="project member" class="img-circle thumb48" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/02.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/04.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/05.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/06.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/07.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/08.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
            <a href="#" class="inline">
               <img src="<%= image_path('angle/user/09.jpg') %>" alt="project member" class="img-circle thumb24" />
            </a>
         </div>
         <div class="panel-body bb text-center">
            <div data-toggle="tooltip" data-title="Progress of asigned tasks">
               <div class="progress progress-xs m0">
                  <div style="width:50%" class="progress-bar progress-bar-info">50%</div>
               </div>
            </div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-4">
                  <p class="text-bold">BUDGET</p>
                  <div data-sparkline="" values="5,95" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#f05050&quot;]" class="sparkline inline mr"></div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">TASKS</p>
                  <div class="h3 m0">145</div>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">AVAILABITY</p>
                  <div data-sparkline="" values="70,30" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]" class="sparkline inline mr"></div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-inline m0">
               <li>
                  <div class="badge bg-gray">angularjs</div>
               </li>
               <li>
                  <div class="badge bg-gray">jquery</div>
               </li>
               <li>
                  <div class="badge bg-gray">gulp</div>
               </li>
               <li>
                  <div class="badge bg-gray">git</div>
               </li>
               <li>
                  <div class="badge p-sm bg-gray">ios</div>
               </li>
            </ul>
         </div>
         <div class="panel-footer text-center"><a href="#" class="btn btn-default btn-oval">Manage Team</a>
         </div>
      </div>
      <!-- end Team Panel-->
   </div>
</div>
